body {
  font-size: 14px;
}

#wmd-input {
  font-size: 13px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

#wmd-input > .editor-content {
  padding-top: 45px;
}

.preview-panel {
  background: #fff;
  box-shadow: inset 1px 0 rgba(128,128,128,0.15);
}

#preview-contents {
  padding-top: 15px;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#preview-contents > :first-child {
  margin-top: 0 !important;
}

#preview-contents h1,
#preview-contents h2,
#preview-contents h3,
#preview-contents h4,
#preview-contents h5,
#preview-contents h6 {
  margin: 1em 0 16px;
  font-weight: bold;
}

#preview-contents h1,
#preview-contents h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ddd;
}

#preview-contents h1 {
  font-size: 2.25em;
}

#preview-contents h2 {
  font-size: 1.75em;
}

#preview-contents h3 {
  font-size: 1.5em;
}

#preview-contents h4 {
  font-size: 1.25em;
}

#preview-contents h5 {
  font-size: 1em;
}

#preview-contents h6 {
  font-size: 1em;
}

#preview-contents ul,
#preview-contents ol {
  padding-left: 2em;
}

#preview-contents ul ul,
#preview-contents ul ol,
#preview-contents ol ul,
#preview-contents ol ol {
  margin-bottom: 0;
}

#preview-contents li > p {
  margin-top: 1.1em;
}

#preview-contents code {
  font-family:  Menlo, Monaco, Consolas, "Courier New", monospace;
}

#preview-contents hr {
  height: 4px;
  margin: 32px 0;
  padding: 0;
  overflow: hidden;
  border: none;
  background: #e7e7e7;
}

score-info
score-low
score-medium
score-high
score-critical

score-info {
  background-color:#909090;
  font-weight: bold;
  display: block;
  width: 90px;
  height: 65px;
  text-align: center;
  color: white;
  float: right;
  line-height:20px;
  z-index: 1;
  border: 1px solid #fff;
  padding: 4px;
}

score-low {
  background-color:#ffe000;
  font-weight: bold;
  display: block;
  width: 90px;
  height: 65px;
  text-align: center;
  color: white;
  float: right;
  line-height:20px;
  z-index: 1;
  border: 1px solid #fff;
  padding: 4px;
}

score-medium {
  background-color:#ffa15f;
  font-weight: bold;
  display: block;
  width: 90px;
  height: 65px;
  text-align: center;
  color: white;
  float: right;
  line-height:20px;
  z-index: 1;
  border: 1px solid #fff;
  padding: 4px;
}

score-high {
  background-color:#ff5050;
  font-weight: bold;
  display: block;
  width: 90px;
  height: 65px;
  text-align: center;
  color: white;
  float: right;
  line-height:20px;
  z-index: 1;
  border: 1px solid #fff;
  padding: 4px;
}

score-critical {
  background-color:#dc5ede;
  font-weight: bold;
  display: block;
  width: 90px;
  height: 65px;
  text-align: center;
  color: white;
  float: right;
  line-height:20px;
  z-index: 1;
  border: 1px solid #fff;
  padding: 4px;
}

td.critical {
  background-color: #dc5ede;
  color: #fff;
}

td.high {
  background-color:#ff5050;
  color: #fff;
}

td.medium {
  background-color: #ffa15f;
  color: #fff;
}

td.low {
  background-color: #ffe000;
  color: #fff;
}

td.info {
  background-color: #909090;
  color: #fff;
}

table {
    font-size: 13px;
    width: 100%;
    border-spacing: 0;
    border: 1px solid #ccc;
}
td, th{
    border: 1px solid #ccc;
    padding: 5px;
}

thead {
    background-color: #F2F2F2;
    color: #000;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
